{% extends "../base.html"%}
{% block title %} La mejor tienda de todas {% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="h1 fw-bold">Busca, Lee, Compra y revisa</h1>
            <p class="lead text-muted"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto, sit, quia nihil mollitia tenetur obcaecati voluptas consectetur commodi blanditiis voluptatibus eius? 
                                        Nisi quisquam quibusdam id? Error exercitationem itaque ipsam!

            </p>
            <a href="{% url 'account:register' %}" class="btn btn-primary my-2">Crea Una Cuenta </a>
        </div>
    </div>

</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="pb-3 h5"> Todos Los Productos
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                {% for x in producto %}

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{{ x.imagen.url }}">
                      <div class="card-body">
                        <p class="card-text">
                          <a class="text-dark text-decoration-none" href="item/{{x.slug}}">{{ x.titulo }}</a>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <small class="text-muted">Hace un instante</small>
                        </div>
                      </div>
                    </div>
                  </div>

                {% endfor %}

            </div>
        </div>


    </div>

</div>
{% endblock %}