{% extends "../base.html"%}
{% block title %} La mejor tienda de todas {% endblock %}
{% block stylesheet %} 
 
{% endblock %}

{% load static %}


{% block content %}
  



<div class="album py-5 bg-light">
    <div class="container">

      <div class="carrusel">
        <div class="carrusel-items">
          <div class="carrusel-item">
            <img src="{% static 'tiendita/img/1.jpg' %}" alt="foto 1">
          </div>
          <div class="carrusel-item">
            <img src="{% static 'tiendita/img/2.jpg' %}" alt="foto 2">
          </div>
          <div class="carrusel-item">
            <img src="{% static 'tiendita/img/3.jpg' %}" alt="foto 3">
          </div>
          <div class="carrusel-item">
            <img src="{% static 'tiendita/img/4.jpg' %}" alt="foto 4">
          </div>
          <div class="carrusel-item">
            <img src="{% static 'tiendita/img/5.jpg' %}" alt="foto 5">
          </div>
          <div class="carrusel-item">
            <img src="{% static 'tiendita/img/6.jpg' %}" alt="foto 6">
          </div>
        </div>
      </div>

        <div class="pb-3 h5"> 
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                {% for x in producto %}

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{{ x.imagen.url }}">
                      <div class="card-body">
                        <p class="card-text">
                          <a class="text-dark text-decoration-none" href="item/{{x.slug}}">{{ x.titulo }}</a>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <small class="text-muted">${{ x.precio }}</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% empty %}
                  <p>No hay publicaciones para visualizar, regresa mas tarde.</p>

                {% endfor %}

            </div>
        </div>


    </div>
    
</div>

<script src="{% static 'tiendita/js/carrusel.js' %}" data-rel-js></script>
{% endblock %}