{% load i18n %}{% autoescape off %}
{% blocktranslate %}Tu estas recibiendo este email, ya que tu has solicitado cambiar la contraseña para tu usuario {{ site_name }}.{% endblocktranslate %}

{% translate "Da click en el siguiente enlace para cambiar tu nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Este es tu nombre de usuario::' %} {{ user.get_username }}

{% translate "Gracias por usar y visitar la pagina web!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}